
    <div class="col">
        <div class="card shadow-sm">
            <div class="row-cols-6" onclick="viewcoub('$coub_permalink')"
                 style="cursor: pointer; background-color: rgb(33, 37, 41)">
                <img class="bd-placeholder-img card-img-top mx-auto d-block"
                     style="height: auto;width: auto;max-height: 255px; max-width: 100%"
                     src="$coub_first_frame">
            </div>
            <div class="card-body">
                <h4 class="card-text">$coub_name</h4>
            </div>
        </div>
    </div>

